<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Додати студента</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <h1>Додати студента</h1>
    <a href="/">Повернутися до списку студентів</a>
  </header>
  <main>
    <form action="/add-student" method="POST">
      <div>
        <label for="fullName">Ім'я студента:</label>
        <input type="text" id="fullName" name="fullName" required>
      </div>
      <div>
        <label for="group">Група:</label>
        <input type="text" id="group" name="group" required>
      </div>
      <button type="submit">Додати студента</button>
    </form>
  </main>
  <footer>
    <p>Web модуль контролю успішності здобувачів вищої освіти</p>
  </footer>
</body>
</html>
