html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
  
body {
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-left: 20px;
}

main {
    flex: 1;
    padding: 20px;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-top: auto;
}

form {
    width: 50%;
    margin: 0 auto;
    text-align: left;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], input[type="password"], input[type="email"], select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.select-subjects {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

.error-message {
    color: red;
    text-align: center;
}

.hidden {
    display: none;
}

.select2-container--default .select2-selection--multiple {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  min-height: 40px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #4CAF50;
  color: rgb(0, 0, 0);
  padding: 3px 10px;
  margin: 2px;
  border-radius: 3px;
}
